[user]
    email = valenzuelarober@gmail.com
    name = Roberto Valenzuela
[color]
    ui = auto
[push]
    default = simple
[grep]
    lineNumber = true
[core]
    editor = vim
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[format]
    signoff = true
[sendemail]
    confirm = auto
    smtpServer = smtp.gmail.com
    smtpServerPort = 587
    smtpEncryption = tls
    smtpUser = valenzuelarober@gmail.com
[credential]
    helper = store
[safe]
    directory = /home/roemvaar/linux_work/linux_mainline
    directory = /home/roemvaar/linux_work/linux_kselftest
    directory = /home/roemvaar/linux_work/linux_stable
[includeIf "gitdir:~/UWaterloo/"]
    path = ~/UWaterloo/gitconfig-UWaterloo
